@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Tektur&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ticker-wrapper {
  opacity: 1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 15%,
    rgb(0, 0, 0) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 15%,
    rgb(0, 0, 0) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.footer-mask-top {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.footer-mask-bottom {
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}
